.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #30a7df; /* Cambia el color según tu preferencia */
  mix-blend-mode: difference; /* Esto puede dar un efecto interesante */
  pointer-events: none; /* Para que el cursor del sistema no interfiera */
  z-index: 9999; /* Asegura que esté sobre otros elementos */
  transition: all 0.15s ease-in-out;
}
